select {
    padding: .25em .5em !important;
}

select>option.select-placeholder {
    display: none;
}

.multiselect > option::before {
    content: "\2610";
    border: none;
    padding-right: 3px;
}

.multiselect > option:checked::before {
    content: "\2611";
}


