@import url('../../utils/colors.css');


header {
    box-shadow: 0 0 0.5em .1em rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
    padding: .75em 0;
}

nav>.search-area {
    display: flex;
    width: 100%;
    position: relative;
    left: -2em;
}

nav>.search-area>input[type=search] {
    width: 100%;
    padding-left: 2.5em;
}

nav>.search-area>input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-color: var(--text-color);
    -webkit-mask-image:  url('../../assets/img/cross.svg');
    mask-image: url('../../assets/img/cross.svg');
    background-size: contain;
    cursor: pointer;
}

nav>.search-area>svg {
    width: 2em;
    height: 2em;
    position: relative;
    top: 0.1em;
    left: 2.25em;
}

nav>.search-area>svg>path {
    fill: gray;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
}

a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border: 1px solid transparent;
    border-radius: 0.5em;
    color: var(--text-color);
    font-size: 1.25em;
    padding: 0 0.5em;
    cursor: pointer;
}

a>svg,
a>img {
    width: 2em;
    height: 2em;
}

a>svg>path {
    fill: var(--text-color);
    opacity: .9;
}

a:hover {
    border: 1px solid var(--orange-100);
    background-color: var(--bc-active);
}

nav a.active {
    border: 1px solid var(--orange-100);
    background-color: var(--bc-active);
}

.dropdown,
.invitations {
    position: relative;
}

.dropdown>.dropdown-control>img {
    border-radius: 50%;
}

.dropdown>.dropdown-control::after {
    content: '';
    object-fit: cover;
    -webkit-mask-image: url('../../assets/img/arrow.svg');
    mask-image: url('../../assets/img/arrow.svg');
    background-color: var(--text-color);
    position: relative;
    top: .15em;
    width: 1.25em;
    height: 1.25em;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    text-decoration: none;
    padding: .5em .5em;
    font-size: 1.15em;
}

.list {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 15em;
}

.list::-webkit-scrollbar {
    position: absolute;
    right: -1em;
    width: 0.5em;
}

.list::-webkit-scrollbar-thumb {
    background-color: var(--neutral-200);
    border-radius: 1em;
}

.item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: .5em;
    align-items: center;
    padding: 0.25em 0.75em;
    font-size: 1.5em;
}

.item:hover {
    background: var(--neutral-100);
}

@media (max-width:576px) {
    nav {
        flex-wrap: wrap-reverse;
    }
}

@media (max-width:768px) {
    nav {
        flex-wrap: wrap-reverse;
    }
}

@media (max-width:992px) {}

@media (max-width:1200px) {}