@import url('../../utils/colors.css');


header {
    box-shadow: 0 0 0.5em .1em rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
    padding: .75em 0;
}

nav>.search-area {
    display: flex;
    width: 100%;
    position: relative;
    left: -2em;
}

nav>.search-area>input[type=search] {
    width: 100%;
    padding-left: 2.5em;
}

nav>.search-area>input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background: url('../../assets/img/cross.svg') no-repeat 50% 50%;
    background-size: contain;
    cursor: pointer;
}

nav>.search-area>svg {
    width: 2em;
    height: 2em;
    position: relative;
    top: 0.1em;
    left: 2.25em;
}

nav>.search-area>svg>path {
    fill: gray;
}

a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border: 1px solid transparent;
    border-radius: 0.5em;
    color: var(--dark-200);
    font-size: 1.25em;
    padding: 0 0.5em;
    cursor: pointer;
}
a>svg,
a>img {
    width: 2em;
    height: 2em;
}

a:hover {
    border: 1px solid var(--orange-100);
}

nav a.active {
    border: 1px solid var(--orange-100);
}

.dropdown {
    position: relative;
}

.dropdown>.dropdown-control::after {
    content: url('../../assets/img/arrow.svg');
    position: relative;
    top: .15em;
    width: 1.25em;
    height: 1.25em;
}

.dropdown-content {
    position: absolute;
    top: 2.75em;
    right: 0;
    left: 0;
    background-color: var(--light-100);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dropdown-content a {
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1.15em;
}

.search-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.popup-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5em 0.25em;
    position: absolute;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.25));
    background: var(--light-100);
}
.popup-content::before {
    content: '';
    position: absolute;
    left: 2em;
    top: -2em;
    border: 14px solid transparent; 
    border-bottom: 14px solid var(--light-100);
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}
.list {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 15em;
}
.list::-webkit-scrollbar {
    width: 0.5em;
}
.list::-webkit-scrollbar-thumb {
    background-color: var(--neutral-200);
    border-radius: 1em;
}
.popup-content .item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: .5em;
    align-items: center;
    padding: 0.25em 0.75em;
}
.popup-content .item:hover {
    background: var(--neutral-100);
}