@import url('../../utils/colors.css');


.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.popup.active {
    opacity: 1;
    pointer-events: all;
}

.popup-content {
    position: absolute;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--bc-popup);
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.25));
    transform: scale(0.5);
    transition: 0.4s all;
}

.popup-content > select {
    background-color: var(--bc-input);
}

.popup-content.active {
    transform: scale(1);
}

