:root {
    --light-100: #fff;
    --neutral-100: #f4f4f4;
    --neutral-200: #cfcfcf;
    --blue-100: #bb86fc;
    --blue-200: #3700b3;
    --blue-300: #03dac6;
    --dark-100: #6b6b6b;
    --dark-200: #292929;
    --red-100: #e94e4e;
}