:root {
    --light-100: #fff;
    --neutral-100: #f4f4f4;
    --neutral-200: #cfcfcf;
    --blue-100: #d9e5f9;
    --blue-200: #27a1ff;
    --blue-300: #0271c7;
    --orange-100: #fd633d;
    --orange-200: #FFA500;
    --red-100: #e74444;
    --green-100: #67cb65;
    --gray-100: #808080;
    --dark-100: #000;
}