:root {
    --light-100: #fff;
    --neutral-100: #f4f4f4;
    --neutral-200: #cfcfcf;
    --blue-100: #ADD8E6;
    --blue-200: #1F51FF;
    --dark-100: #6b6b6b;
    --dark-200: #292929;
    --red-100: #e94e4e;
}