.task-header {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.task-header>.name {
    font-size: 2em;
    font-weight: 600;
}

.task-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: var(--bc-content);
    border-radius: 4px;
}

.data-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.data-row>.title {
    font-weight: 600;
}

.data-row>.value {
    padding-left: 2em;
}

.data-row>.value>img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--neutral-100);
}

.data-row>.value>img:nth-child(2) {
    position: relative;
    left: calc(-0.5em);
}

.data-row>.value>img:nth-child(3) {
    position: relative;
    left: calc(-1em);
}

.interaction-row>select {
    width: 100%;
    box-shadow: none;
    background-color: var(--bc-content);
    font-size: 1.2em;
    line-height: 1.2em;
    cursor: pointer;
}

.interaction-row>.main-button {
    width: 100%;
    font-size: 1.2em;
    line-height: 1.2em;
    cursor: pointer;
}

.interaction-task {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.task-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.task-form>.header {
    justify-content: space-between;
}

.task-form>.header>.title {
    font-size: 1.5em;
    font-weight: 500;
}

.task-form > .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
}

.close-button {
    background-color: rgba(231, 68, 68, .9) !important;
}

.close-button:hover {
    background-color: var(--red-100) !important;
}

.close-button>svg {
    width: 1em;
    height: 1em;
}

.close-button>svg>path {
    fill: var(--light-100) !important;
}