@import url('../../utils/colors.css');


.top-row {
    margin-top: 1em;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
}

.month-control {
    display: flex;
    gap: 2em;
    align-items: center;
}
.month-control>span {
    font-size: 1.5em;
    line-height: 1.5em;
}
.month-control > button > svg {
    width: 1.5em;
    height: 1.5em;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    padding: 0.5em;
    height: 8em;
    outline: 1px solid var(--dark-100);
    background-color:  var(--light-100);
    overflow-x: hidden;
    overflow-y: auto;
}
.day::-webkit-scrollbar {
    width: 0.5em;
}
.day::-webkit-scrollbar-thumb {
    background-color: var(--neutral-200);
    border-radius: 1em;
}
.day:active {
    box-shadow: 0px 0px 10px 2px var(--orange-200);
}

.today > .heading {
    color: var(--orange-100);
    font-weight: 700;
}
.week-day {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    font-size: 1.125em;
    font-weight: 500;
    color: var(--gray-100);
}

.day:hover {
    background-color: var(--neutral-100);
}

.task-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

.task-list > .item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:.25em;
    padding: 0 .2em;
    width: 100%;
    font-size: 1em;
}
.item:hover {
    cursor: pointer;
}

.create-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
}

.create-popup > .popup-content {
    position: absolute;
    top: 5em;
}

.create-popup > .popup-content > .content {
    background-color: var(--light-100);
}

.create-popup > .popup-content > .content > .header {
    justify-content: space-between;
}

.create-popup > .popup-content > .content > .header > .title {
    font-size: 1.5em;
    font-weight: 500;
}

.create-popup > .popup-content > .content > .header > .close-button{
    background-color: rgba(231, 68, 68, .7);
}
.create-popup > .popup-content > .content > .header > .close-button:hover{
    background-color: var(--red-100);
}
.create-popup > .popup-content > .content > .header > .close-button > svg{
    width: 1em;
    height: 1em;
}
.create-popup > .popup-content > .content > .header > .close-button > svg > path{
    fill: var(--light-100);
}