@import url('../../utils/colors.css');


.top-row {
    margin-top: 1em;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
}

.month-control {
    display: flex;
    gap: 2em;
    align-items: center;
}

.month-control>span {
    font-size: 1.5em;
    line-height: 1.5em;
}

.month-control>button>svg {
    width: 1.5em;
    height: 1.5em;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    padding: 0.5em;
    height: 8em;
    outline: 1px solid var(--dark-100);
    background-color: var(--bc-calendar);
    overflow-x: hidden;
    overflow-y: auto;
}

.day::-webkit-scrollbar {
    width: 0.5em;
}

.day::-webkit-scrollbar-thumb {
    background-color: var(--neutral-200);
    border-radius: 1em;
}

.day:active {
    box-shadow: 0px 0px 10px 2px var(--orange-200);
}

.today>.heading {
    color: var(--orange-100);
    font-weight: 700;
}

.week-day {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    font-size: 1.125em;
    font-weight: 500;
    color: var(--gray-100);
}

.day:hover {
    background-color: var(--bc-active);
}

.task-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

.task-list>.item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .25em;
    padding: 0 .2em;
    width: 100%;
    font-size: 1em;
    text-overflow: "-";
    overflow-wrap: anywhere;
}

.item:hover {
    cursor: pointer;
    background-color: var(--bc-body);
}


@media (max-width:576px) {
    .top-row {
        flex-wrap: wrap-reverse;
    }
}

@media (max-width:768px) {
    .top-row {
        flex-wrap: wrap-reverse;
    }
}

@media (max-width:992px) {}

@media (max-width:1200px) {}